/* 
    Created on : Nov 10, 2017, 9:38:52 AM
    Author     : Dragana
Fonts:
/*    font-family: 'Montserrat', sans-serif;   normalna*/
/*    font-family: 'Pacifico', cursive;  pisana*/
/*    font-family: 'Shadows Into Light', cursive;  cool pisana*/
/*font-family: 'Roboto Condensed', sans-serif;*/
body{
    margin-top: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
i{
    font-style: normal;
}
a{
    text-decoration: none !important;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}
a.btn.rezervisi{
    position: relative;
    z-index: 99;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    font-size: 18px;
}
.info-header,
.last{
    display: none;
}
header{
    text-transform: uppercase;
    margin-bottom: 60px;
    float: left;
    width: 100%;
}
.thumbnail h2{
    text-align: center;
}
h2.heading-course{
    font-weight: bold;
    color: #cb3438;
}
.menu-header{
    height: 100px;
    float: left;
    width: 100%;
    background:#fff;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid #51b5b1;
}
.right .container-fluid{
    float: right;
    padding-right: 0;
    padding-left: 0;
    margin-top: 10px;
}
.top-header{
    padding: 10px;
}
.top-header img{
    width: 200px;
}
/* nav */
.nav>li>a:focus, .nav>li>a{
    border-bottom: 3px solid transparent;
}
.nav .open>a,
.nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent !important;
    border-bottom: 3px solid #cb3438 !important;
}
.top-header .nav>li>a{
    color: #5a5a5b;
    font-size: 24px;
}
/* Start Slider*/
#first-slider{
    z-index: -99;
    margin-top: 100px;
}
#first-slider .main-container {
    padding: 0;
}
#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
}
#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}
#first-slider .carousel-indicators {
    bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
    background-image: none;
}
#first-slider .carousel .item {
    min-height: 600px; 
    height: 100%;
    width:100%;
}
.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#first-slider h3{
    animation-delay: 1s;
}
#first-slider h4 {
    animation-delay: 2s;
}
#first-slider h2 {
    animation-delay: 3s;
}
#first-slider .carousel-control {
    width: 6%;
    text-shadow: none;
}
#first-slider h1 {
    text-align: center;  
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}
#first-slider .p {
    padding-top: 125px;
    text-align: center;
}
#first-slider .p a {
    text-decoration: underline;
}
#first-slider .carousel-indicators{
    bottom: 120px;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
    border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
    border:none;
}
.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}
.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}
#first-slider .slide1 {
    background-image: url(../img/slide4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
    background-image: url(../img/slide1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide3 {
    background-image: url(../img/dizajn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide4 {
    background-image: url(../img/prekvalifikacija.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.home-data{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* about */
.about h5{
    line-height: 1.5;
}
/* photo galery */
#images{
    padding-top: 40px;
}
#images .item {
    padding: 3px 3px 3px 6px;
    width: 25%;
    float: left;
}
#images .item img {
    display: block;
    width: 100%;
}
#images .item img:hover{
    opacity: 0.7;
}
footer{
    padding: 40px 40px 10px 40px;
    margin-top: -10px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    float: left;
    width: 100%;
    background: #3f4041;
    /*font-family: 'Shadows Into Light', cursive;*/
    font-size: 14px;
}
footer h3{
    line-height: 2;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
footer .fa{
    font-size: 30px;
    margin-right: 20px;
}
footer ul li{
    line-height: 3;
}
footer a{
    font-size: 20px;
}
footer a:hover
{
    color: #51b5b1;
}
footer .btn.btn-info{
    width: 200px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #51b5b1 !important;
    border-color: #51b5b1;
    background-image: linear-gradient(to bottom,#51b5b1 0,#51b5b1 100%);
}
footer .btn.btn-info:hover{
    background-color: #cb3438 !important;
    border-color: #cb3438;
    background-image: linear-gradient(to bottom,#cb3438 0,#cb3438 100%);
}
footer p{
    line-height: 2;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
footer h4{
    margin-top: 60px;
    color: #cb3438;
    font-weight: bolder;
    font-size: 20px;
}
footer a span{
    font-size: 18px;
}
footer hr{
    background: #fff;
    float: left;
    width: 100%;
}
.footer-right,
.footer-left{
    float: left;
    width: 100%;
}
.socket p a,
.socket p{
    font-size: 14px;
}
/* inner page */
.inner-img img{
    width: 100%;
    float: left;
}
.map{
    float: left;
    width: 100%;
}
.map iframe{
    width: 100%;
}
/* Owl */
.partners, .partners-inner, #partners-id {
    float: left;
    width:100%;
}
.partners-inner { /* ovo vidi*/
    border-top: 1px solid #d8d8d8;
    background: #d8d8d8;
    margin-top:50px;
    text-align: center;
}
.partners-inner a h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    color: #3a3a3a;
}
#owl-demo .item{/* ovo vidi */
    margin: 3px;
    font-size: 24px;
    color: #51b5b1;
    font-family: 'Roboto Condensed', sans-serif;
}
#owl-demo .item span{
    color: #626466;
    font-size: 18px;
}
#owl-demo .item img{ /* ovo vidi */
    display: block;
    width: 100%;
    height: auto;
}
.owl-prev {
    background-image: url(../img/left-arrow.png);
    background-repeat: no-repeat;
    background-position: left;/* ovo je bitno bez se ne vidi strelica*/
    /*    color:#CACACA; ovo je boja strelice*/
    width:40px;/*dimenzije strelice */
    height:40px;
    left:-16px;/* pozicija strelice*/
    float:left;
    top:38%;
    position: absolute;
}
.owl-next {
    background-image: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    background-position: left;
    width:40px;
    height:40px;
    right:-30px;
    float:right;
    top:38%;
    position: absolute;
    z-index:999;
}
/* online prijava */
.text-right{
    float: left;
    width: 100%;
}
.btn.rezervisi{
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
}
/* inner page*/
.category-position{
    background:  #51b5b1;
    border-top: 1px solid #b6baba;
    margin-top: 100px;
}
.category-position .breadcrumb{
    background: transparent;
    font-size: 18px;
}
.category-position .breadcrumb li{
    color: #fff;
    font-weight: 600;
}
.category-position .breadcrumb li a{
    color: #fff;
}
/* list of courses */
section{width:100%; float:left;}
/*.banner-section{background-image:url("https://static.pexels.com/photos/373912/pexels-photo-373912.jpeg"); background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}*/
.post-title-block h1 {color: #fff; font-size: 85px; font-weight: bold; text-transform: capitalize;}
.post-title-block li{font-size:20px; color: #fff;}
.image-block{float:left; width:100%; margin-bottom:10px;}

.inner-header{
    width: 820px;
    margin-bottom: 20px;
}
.caption h3{
    text-align: center;
}
blockquote footer{
    margin-bottom: 40px;
}
blockquote footer p{
    font-size: 20px;
    font-weight: bolder;
}
cite, cite p{ color: #fff;}
cite ul li{
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
}
/* aside inner */
.input-group-btn{
    border: 1px solid #fff;
}
/* single course */
.classroom{
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold;
    height: 60px;
    border-radius: 6px;
    background: #fff;
    padding: 20px 30px;
    margin-top: -100px;
    width: 25%;
    font-size: 20px;
}
.rezervisi{
    padding: 20px 60px;
    background-color: #cb3438;
    float: right;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: -4%;
    margin-right: 50px;
    border-radius: 4px;
}
.rezervisi:hover{
    color: #fff;
    text-decoration: none;
}
.content{
    float: left;
    width: 100%;
    padding: 100px 10%;
    text-align: center;
}
.content p{
    font-size: 20px;
}
.content .rezervisi.plan{
    float: left;
    margin-left: 100px;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    margin-left: 42%;
    margin-top: 50px;
}
.content .data{
    float: left;
    width: 100%;
    padding: 60px;
}
.termini-obuke{
    text-align: center;
    float: left;
    width: 100%;
    background-color: #e3e5e8;
    padding-top: 60px;
    padding-bottom: 60px;
}
.termini-obuke .fa.fa-grav{
    position: absolute;
    left: -20px;
}
.termini-obuke .container{
    margin-top: 100px;
}
.termini-obuke h4{
    color: #51b5b1;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.termini-obuke .col-md-6{
    padding: 10px 60px;
    font-size: 20px;
    line-height: 2;
}
.rezervisi.termini{
    padding: 10px 60px;
    float: left;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 27%;
    border-radius: 4px;
}
/* courses */
.list-group-item.active{
    background: #51b5b1;
}
.list-group-item.active:focus, .list-group-item.active:hover{
    background: #cb3438;
}
/* aside */
.btn-default{
    border-color: #fff;
}
/* contact page */
.cover-contact{
    background-image: url('../img/slide8-1.jpg');
}

#f1_container {
    position: relative;
    margin: 10px auto;
    width: 300px;
    height: 300px;
    z-index: 1;
}
#f1_container {
    perspective: 1000;
}
#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
#f1_container:focus #f1_card,
#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;
}
.home-info{
    margin-top: -140px;
    float: left;
    width: 100%;
}
.thumb-row{
    height: 1000px;
}
/* courses */

/* o nama */
.caption h4{
    font-weight: bold;
}
.cenovnik-content{
    float: left;
    width: 70%;
}
img.cenovnik{
    width: 50%;
}
.animacija-15 .thumbnail{
    width: 100%;
    transition: all 600ms ease-in-out;
}
.animacija-15 .thumbnail:hover {
    width: 100%;
    transition: all 600ms ease-in-out;
}
.single-course{
    float: left;
    width: 100%;
    
}