/*
@media(max-width:800px){
    .navbar-default {
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        background-color: #000;
        display: block;
        margin-bottom: 8px;
        width: 100px;
        height: 100px;
        margin: 10px;
        left: 20px;
        position: absolute;
    }
    .navbar-collapse {
        border-radius: 6px;
        border-top: 1px solid transparent;
        background-color: transparent;
        opacity: .9;
        width: 300px;
        float: right;
        margin-top: 20px;
    }
    .navbar-fixed-top {
        top: 0px;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: 300px;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
*/
@media only screen and (max-width: 1900px) {
    .thumb-row{
        height: 900px;
    }
}
@media only screen and (max-width: 1660px) {
    .thumb-row{
        height: 840px;
    }
    img.cenovnik{
        width: 70%;
    }
    .single-course{
        padding: 40px 40%;
    }
}
@media only screen and (max-width: 1400px) {
    .thumb-row{
        height: 800px;
    }
    .content .rezervisi.plan{
        margin-left: 40%;
        margin-top: 40px;
    }
}
@media only screen and (max-width: 1200px) {
    .menu-header{
        height: 200px;
    }
    .top-header .col-md-4,
    .top-header .col-md-8{
        float: left;
        width: 100%;
    }
    .right .container-fluid{
        float: none;
    }
    .content .rezervisi.plan{
        margin-left: 34%;
    }
    .single-course{
        padding-top: 40px;
    }
}
@media only screen and (max-width: 1100px) {
    .home-info .col-sm-4{
        float: left;
        width: 50%;
    }
    .last{
        display: block;
    }
    .icon-bar{
        border: 1px solid #000;
    }
    .lead{
        display: block;
    }
    .thumb-row {
        height: 760px;
    }
    .thumb-row {
        height: auto;
    }
    footer ul li{
        font-size: 16px;
    }
    img.cenovnik{
        width: 80%;
    }
    .single-course{
        padding: 40px 35%;
    }
}
@media only screen and (max-width: 1000px) {
    .thumbnail{
        background-color: transparent;
        border: none;
    }
    .btn.rezervisi{
        float: none;
        margin-right: 0;
    }
    .thumbnail:hover {
        width: 100%;
        transition: all 600ms;
    }
    .content .rezervisi.plan{
        margin-left: 30%;
    }
    .termini-obuke .col-md-6{
        float: left;
        margin-top: 40px;
    }
    .rezervisi.termini{
        margin-left: 33%;
    }
    .single-course .rezervisi{
        margin-right: 0;
    }
}
@media only screen and (max-width: 764px) {
    .container-fluid>.navbar-collapse{
        background: #fff;
    }
    .top-header{
        padding: 0;
    }
    .top-header .nav>li{
        margin-top: 40px;
    }
    .top-header .navbar-nav{
        padding-left: 30px;
        padding-right: 30px;
    }
    .info-header{
        position: relative;
        top: 30px;
        padding: 20px;
        display: block;
    }
    .fa{
        font-size: 30px;
        /*        color: #000;*/
        margin-right: 20px;
    }
    .termini-obuke .fa.fa-grav{
        font-size: 100px;
    }
    .termini-obuke .fa.fa-calendar{
        font-size: 60px;
        margin-right: 0;
    }
    .container-fluid>.navbar-header{
        float: right;
        width: 50%;
        margin-top: -40px;
    }
    .container-fluid>.navbar-collapse,
    .top-header .col-md-8{
        width: 100%;
    }
    .col-md-8.right{
        padding-right: 0;
        padding-left: 0;
    }
    .container-fluid>.navbar-collapse{
        margin: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .menu-header{
        height: 100px;
        /*        position: relative;*/
    }

    #first-slider{
        /*        margin-top: 0px;*/
    }
    #first-slider h4,
    #first-slider h3{
        font-size: 20px !important;
    }
    #first-slider .text-right{
        display: none;
    }
    #first-slider .col-md-9{
        padding-left: 60px !important;
        padding-right: 60px;
    }
}
@media only screen and (max-width: 650px) {
    .home-info .col-sm-4{
        width: 100%;
    }
    .carousel-control .fa-angle-right,
    .carousel-control .fa-angle-left{
        display: none;
    }
    .content .rezervisi.plan{
        margin-left: 23%;
    }
    .rezervisi.termini{
        margin-left: 27%;
    }
    .classroom{
        width: 100%;
    }
    .single-course{
        padding: 40px 20%;
    }
    .single-course .rezervisi{
        float: left;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
}
@media only screen and (max-width: 600px) {
    .content .rezervisi.plan {
        margin-left: 20%;
    }
    .single-course .rezervisi{
        left: 0;
    }
}
@media only screen and (max-width: 400px) {
    .single-course .rezervisi{
        left: 30%;
    }
    .rezervisi.termini{
        margin-left: 10%;
    }
    .content .rezervisi.plan{
        margin-left: 13%;
    }
    .navbar-toggle{
        float: left;
        position: absolute;
        left: 0;
    }
}